/* Your Styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


/* Layout with css grid */
body {
    display: grid;
}

main {
    /* css grid */
    place-self: center;

    /* flexbox */
    display: flex;
    flex-wrap: wrap;
}

figure {
 margin: 0;
 /* set your width */
 width: 33%;
 background-color: #FFE8D6;
 border-radius: 25px;
}
  
/* Backdrop for modal overlay */
::backdrop {
    background: rgba(0, 0, 0, 0.75);
}

/* Animation */
dialog {
    animation: fadeIn 1s;
}

h2{
    font-family: 'Roboto', sans-serif;
    color: #6B705C;
}

figcaption{
    font-family: 'Lato', sans-serif;
    color: #6B705C;
}